/* OUTER FRAME BG */
body{
  background: black;
}

/* TITLE PAGE */
.nobackground{
  background-color:white;
  background-image: url(../img/background_frontpage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.title-slide hgroup h1 {
  font-size: 60px;
  line-height: 1.4;
  letter-spacing: -1px;
  color: #515151;
  font-family: 'Fira Sans'
}
.title-slide hgroup h2 {
  font-size: 30px;
  color: darkgrey;
  font-weight: inherit;
  font-family: 'Fira Sans'
}

/* LOGO */
aside.gdbar {
  height: 200px; /* 97 */
  width: 900px; /* 215 */
  left: -1px;
  top: 50px;
}
aside.gdbar img {
  width: 890px; /*85*/
  height: 160px; /*85*/
  position: absolute;
  left: -25px;
  margin: 20px 25px;
}

